main {
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

@media (width < 1280px) {
    main {
        flex-direction: column;
        padding-top: 25px;
        justify-content: start;
        align-items: center;
    }
}